# OS Files
.DS_Store

# Local Vagrant Files
.vagrant
vm_config.yml

# Local Librarian Files
.librarian
modules/*
!modules/.gitkeep
.tmp

# Local Ghost Repo Clone
Ghost/*

# Other
.idea/*
*.iml
projectFilesBackup