[submodule "modules/sqlite"]
	path = modules/sqlite
	url = git://github.com/puppetlabs/puppetlabs-sqlite.git
	branch = master
[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
	branch = 2.3.x
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
	branch = 4.4.x
[submodule "modules/concat"]
	path = modules/concat
	url = git://github.com/puppetlabs/puppetlabs-concat.git
	branch = 1.2.x
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git://github.com/puppetlabs/puppetlabs-postgresql.git
	branch = 4.3.x
