[submodule "modules/sqlite"]
	path = modules/sqlite
	url = git://github.com/puppetlabs/puppetlabs-sqlite.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
